/* login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background: #00827f;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
}

.login-form h2 {
    font-weight: 600;
    color: #FFF;
    margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    border: 1px solid #00827f;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #005F5C;
    color: #FFF;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #005F5C;
}

.login-form a {
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
}

.login-form .social-login {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.login-form .social-login a {
    color: #FFF;
    font-size: 20px;
}

.register-link {
    margin-top: 15px;
}

.register-link p {
    font-size: 14px;
    color: #FFF;
}

.register-link a {
    color: #FFF;
    font-weight: 500;
    text-decoration: underline;
}

/* Tombol Login dan Logout */
.btn-login, .btn-logout {
    font-size: 0.9em;
    padding: 10px 20px;
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    border: none;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-left: 15px;
}

.btn-login {
    background-color: #00827f;
    color: white;
}

.btn-login:hover {
    background-color: #005F5C;
    color: aliceblue;
    transform: scale(1.05);
}

.btn-logout {
    background-color: #dc3545;
    color: white;
}

.btn-logout:hover {
    background-color: #c82333;
    transform: scale(1.05);
}
