#products .section-heading {
    margin-bottom: 30px;
}

.search-form {
    margin-top: 20px;
}

.search-form .btn-primary {
    background-color: #794553;
    border-color: #794553;
}

.search-form .btn-primary:hover {
    background-color: #794553;
    border-color: #794553;
}

.filter-form {
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    margin-top: 24px;
}

.filter-form .form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.filter-form .form-check {
    margin-bottom: 0;
}

.filter-form .form-check label {
    margin-left: 5px;
}

.filter-form button {
    background-color: #794553;
    border-color: #794553;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    transition: background-color 0.3s;
    white-space: nowrap;
    width: auto;
}

.filter-form button:hover {
    background-color: #794553;
    border-color: #794553;
}

@media (max-width: 768px) {
    .filter-form .form-group {
        flex-wrap: wrap;
    }
}